.footer {
    color: var(--white);
    background-color: var(--black);
    padding: 30px 15px;
}

.placement_footer {
    max-width: 1200px;
    margin: 55px auto;
    display: flex;
    justify-content: space-between;
    flex-flow: column-reverse;

    @media only screen and (min-width: 768px) {
        flex-flow: row;
	}
    
}

.footer_logo {
    font-family: var(--Comfortaa);
    font-weight: bold;
    font-size: 24px;
    color: var(--blue);
    margin-bottom: 24px;
    margin-top: 85px;

    @media only screen and (min-width: 768px) {
        margin-top: 0;
	}
}
.pages {
    display: flex;
    margin-bottom: 15px;
    flex-flow: wrap;

    .page-link {
        margin-right: 24px;
        font-family: var(--Inter);
        font-weight: normal;
        font-size: 16px;
        color: var(--white);
        text-transform: capitalize;
        margin-top: 15px;

        @media only screen and (min-width: 768px) {
            margin-top: 0;
        }

        &:last-child {
            margin-left: 0;
        }
    }
}

.getApp {
    margin-bottom: 15px;
    font-family: var(--Inter);
    font-weight: 500;
    font-size: 18px;
    color: #D9DBE1;
}

.footerDownload {
    display: flex;
    flex-flow: column;

    .appstore {
        margin-bottom: 15px;
    }
}

.rights {
    margin-top: 24px;
    font-family: var(--Inter);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #D9DBE1;
    text-align: center;
    margin-top: 70px;

    @media only screen and (min-width: 768px) {
        margin-top: 0;
        text-align: start;
	}
}

