.powerpoints {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 30px;

    @media only screen and (min-width: 1024px) {
        margin-bottom: 60px;
	}
}

.powerpoints_intro {
    margin-bottom: 30px;
    line-height: 150%;
}

.powerpoints_titel {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;

    @media only screen and (min-width: 768px) {
		font-size: 48px;
	}
}

.powerpoints_text {
    font-size: 14px;
    margin: auto;

    @media only screen and (min-width: 768px) {
		font-size: 18px;
        width: 80vw;
	}

    @media only screen and (min-width: 1024px) {
		font-size: 24px;
        width: 80vw;
        max-width: 700px;
        margin-bottom: 60px;
	}
}

.powerpoint_grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    
    @media only screen and (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
	}

    @media only screen and (min-width: 1024px) {
		grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
        column-gap: 30px;
	}

    @media only screen and (min-width: 1440px) {
		grid-template-columns: 1fr 1fr 1fr;
        max-width: 1400px;
        margin: auto;
        column-gap: 30px;
	}
    
}

.powerpoint_item {
    width: 80vw;
    margin: 0 auto;
    line-height: 130%;
    background-color: #f5f5f570;
    padding: 20px;

    @media only screen and (min-width: 768px) {
		width: 44vw;
        padding: 20px;
        background-color: var(--white);
	}

    @media only screen and (min-width: 1024px) {
        width: 30vw;
        max-width: 400px;
        padding: 00px;	
    }

    @media only screen and (min-width: 1440px) {
        width: 30vw;
        max-width: 400px;
        padding: 20px;	
    }

    img{
        margin-top: 10px;
        margin-bottom: 20px;

    }
}

.item_titel {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item_text {
    font: 14px;
    margin: auto;
    width: 60vw;
    margin-bottom: 20px;

    @media only screen and (min-width: 768px) {
		width: 30vw;

	}
    @media only screen and (min-width: 1024px) {
        width: 30vw;
        max-width: 360px;
        	
    }
    @media only screen and (min-width: 1440px) {
        width: 30vw;
        max-width: 360px;
        	
    }
}