.service {
    background-color: var(--black);
}

.service_box {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.service_title {
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    max-width: 660px;
}

.service_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    grid-template-rows: repeat(2, 1fr);
}

.grid_item {
    background-color: var(--white);
    height: 300px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.service_item_img {
    height: 40px;
}

.service_item_title {
    font-size: 24px;
    font-family: var(--Inter);
    font-weight: bold;
    margin-bottom: 12px;
    color: var(--black);
}

.service_item_text {
    font-size: 16px;
    font-family: var(--Inter);
    line-height: 26px;
    color: var(--black);
}