
:root {

   /* Color */
   --white: #fff;
   --blue: #1BE7F3;
   --darkblue: #19CFD9;
   --lightblue: #CDF1F8;
   --green: #B0ECAE;
   --primeryGreen: #7CDF78;
   --grey: #E7E7E7;
   --darkgrey: #777E91;
   --lightGrey: #F4F5F7;
   --black: #0B0D17; 
   --textblack: #18191F;
   --lightblack: #23262F;
   --linegrey: #E6E8EC;

    /* Font weights */
    --thin: 100;

    /* Font family's */
    --Inter: 'Inter', sans-serif;
    --Comfortaa: 'Comfortaa', sans-serif;
}