
:root {

   /* Color */
   --white: #fff;
   --blue: #19CFD9;
   --green: #B0ECAE;
   --primeryGreen: #7CDF78;
   --grey: #E7E7E7;
   --lightGrey: #F4F5F7;
   --black: #0B0D17; 

    /* Font weights */
    --thin: 100;

    /* Font family's */
    --Inter: 'Inter', sans-serif;
    --Comfortaa: 'Comfortaa', sans-serif;
}
