.contact_title {
  font-size: 52px;
  font-family: "Inter";
  font-weight: bold;
  text-align: center;
  color: #242424;
  margin: 90px 0;

  @media only screen and (min-width: 768px) {
		font-size: 65px;
	} 
	@media only screen and (min-width: 1024px) {
		font-size: 86px;
	}
}

.lines_right_contact {
  position: absolute;
  right: 0;
  width: 90%;

  @media only screen and (min-width: 550px) {
		width: 75%;
	} 

  @media only screen and (min-width: 769px) {
		width: auto;
	} 

//550 75%

//769 auto
}

.lines_left_contact {
  width: 90%;
  @media only screen and (min-width: 550px) {
		width: auto;
	} 
  //550 auto
}

.contact_container {
  padding: 200px 20px 50px;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: column;

  @media only screen and (min-width: 768px) {
		flex-flow: row;
    padding: 225px 20px 50px;
	} 

  .contact_info_gegevens,
  .contact_info_producties {
    margin-bottom: 35px;

    .contact_info_title {
      font-family: "Inter";
      font-weight: bold;
      font-size: 36px;
      color: #000000;
      margin-bottom: 25px;
    }

    .contact_info_text {
      font-family: "Inter";
    	font-weight: normal;
    	font-size: 16px;
    	color: #18191F;
		  margin-bottom: 15px;
    }
  }
}

.contact_form {
  display: flex;
  flex-flow: column;
  max-width: 800px;
	@media only screen and (min-width: 1024px) {
		width: 800px;
	}
 

  .contact_form_input,
  .contact_form_textarea {
    width: 85%;
    z-index: 2;
    position: relative;
    font-family: "Poppins";
    font-size: 16px;
    color: #292930;
    padding: 26.5px 24px;
    border-radius: 16px;
    border: none;
    background: #F8F8F8;
    margin-bottom: 22px;

    @media only screen and (min-width: 1024px) {
      width: 90%;
    }
  }

  .contact_form_textarea {
    height: 178px;
    resize: none;
  }

  .contact_form_submit {
    background: #19CFD9;
    border-radius: 16px;
    width: 200px;
    font-family: "Inter";
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    padding: 22px 60px;
  }
}