.header_title_studio {
	font-size: 52px;

	@media only screen and (min-width: 768px) {
		font-size: 65px;
	} 
	@media only screen and (min-width: 1024px) {
		font-size: 86px;
	}
}

.header_stripes_l_studio {
	position: absolute;
	z-index: 1;
	left: 0;
	width: 30vw;
	bottom: 0;
}

.header_image_studio {
	margin-bottom: 50px;
}

.video_container {
	z-index: 3;
	width: 100vw;
	
	.video_box {
		width: 100vw;
		height: 380px;
	}
}