.hamburger {  
  position: fixed;
  top: 4.5%;
  right: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 110;

  
  &:focus {
    outline: none;
  }

  &.menu_open {
    right: 2rem;
    

    :first-child {
      transform: rotate(45deg);
      background-color: var(--white);
    }

    :nth-child(2) {
      opacity: 0;
      transform: translateX(20px);
      background-color: var(--white);
    }

    :nth-child(3) {
      transform: rotate(-45deg);
      background-color: var(--white);
    }
  }

  &.menu_closed {
    :first-child {
      transform: rotate(0)
    }

    :nth-child(2) {
      opacity: 1;
      transform: translateX(0)
    }

    :nth-child(3) {
      transform: rotate(0)
    }
  }
  
  div {
    width: 2rem;
    height: 0.25rem;
    background: #000;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
    transition: transform .7s ease;
    
  }
}